@-moz-keyframes basketanim {
    0% {
    }

    50% {
        transform: rotate(15deg);
    }

    0% {
    }
}

@-webkit-keyframes basketanim {
    0% {
    }

    50% {
        transform: rotate(15deg);
    }

    0% {
    }
}

@keyframes basketanim {
    0% {
    }

    50% {
        transform: rotate(15deg);
    }

    0% {
    }
}
