<div class="hero">
    <div class="hero-inner">
        <div class="search-tags-container">
            <div class="search-container">
                <h1>Find events</h1>
                <form name="frm-main-search">
                    <div class="tags-container"></div>
                    <input class="main-search" type="search" placeholder="f.eks. navn, postnr eller by" />
                    <input class="btn-main-search" type="submit" value="GO! " />
                </form>
            </div>
        </div>
    </div>
</div>
<main>
    <h2 class="header">Kommende events</h2>
    <div class="events-holder"></div>
</main>
@Scripts.Render("~/Scripts/Pages/home.js")