<div class="hero searchpage">
    <div class="hero-inner">
        <div class="search-tags-container">
            <div class="search-container">
                <h1>Find events</h1>
                <form action="/Search/Index" method="get" name="frm-main-search" id="frm-main-search">
                    <div class="tags-container"></div>
                    <input name="s" class="main-search" id="main-search" type="search" placeholder="f.eks. navn, postnr eller by" />
                    <input class="btn-main-search" id="btn-main-search" type="submit" value="GO! " />
                </form>
            </div>
        </div>
    </div>
</div>
<main>
    <h2 class="header">Søgeresultater</h2>
    <div class="search-holder"></div>
</main>
@section scripts {
    @Scripts.Render("~/Scripts/Custom/searchscripts.js")
    @Scripts.Render("~/Scripts/Pages/search.js")
}