@import 'https://fonts.googleapis.com/css?family=Raleway';
@-moz-keyframes basketanim {
  0% { }
  50% {
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg); }
  0% { } }

@-webkit-keyframes basketanim {
  0% { }
  50% {
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg); }
  0% { } }

@keyframes basketanim {
  0% { }
  50% {
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg); }
  0% { } }

@keyframes zoomInOut {
  0% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  60% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  80% {
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }

.notifyjs-corner {
  top: 65px !important; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.clr {
  clear: both; }

*, *::before, *::after {
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  margin: 60px 0 0 0;
  background-color: #eeeeee; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #0a002f;
    font-weight: normal; }
  body header {
    background-color: #0a002f;
    height: 60px;
    line-height: 59px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid white; }
    body header .basket-link {
      display: block;
      float: right;
      padding: 0 30px;
      height: 59px;
      text-align: center; }
      body header .basket-link i {
        font-size: 30px;
        color: white;
        line-height: 59px;
        position: relative;
        float: right;
        margin-left: 15px; }
        body header .basket-link i.pulsate {
          animation: basketanim 0.5s ease; }
      body header .basket-link:hover i {
        color: #b6ff00; }
      body header .basket-link .basket-item-counter {
        color: white;
        float: right; }
    body header .logo {
      color: white;
      text-transform: uppercase;
      height: 60px;
      padding: 0 30px;
      font-weight: bold;
      font-size: 30px;
      text-decoration: none;
      display: block;
      float: left;
      transition: 0.3s ease all; }
      body header .logo .alt-color {
        color: #b6ff00; }
      body header .logo:hover {
        text-shadow: 0 0 40px white; }
  body .hero {
    height: 500px;
    background: url("/Img/party_tickit_new.jpg") center top;
    box-shadow: inset 0px 0px 70px rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 1; }
    body .hero .hero-inner {
      display: table;
      width: 980px;
      margin: auto;
      height: 500px; }
    body .hero .search-tags-container {
      height: 500px;
      text-align: center;
      display: table-cell;
      vertical-align: top;
      padding-top: 60px; }
      body .hero .search-tags-container .search-container {
        position: relative; }
        body .hero .search-tags-container .search-container h1, body .hero .search-tags-container .search-container h3 {
          margin: 0; }
        body .hero .search-tags-container .search-container h1 {
          font-size: 80px;
          letter-spacing: 10px;
          text-shadow: 5px 5px 10px black;
          color: white;
          text-transform: uppercase;
          font-weight: bold; }
        body .hero .search-tags-container .search-container h3 {
          padding: 10px 20px;
          color: white;
          background-color: rgba(0, 0, 0, 0.5);
          display: inline-block;
          margin-top: 20px;
          font-weight: normal; }
        body .hero .search-tags-container .search-container .main-search {
          width: 320px;
          padding: 20px;
          height: 60px;
          font-size: 20px;
          border-top-left-radius: 30px;
          border-bottom-left-radius: 30px;
          border: 5px solid #0a002f;
          text-align: center;
          outline: 0; }
        body .hero .search-tags-container .search-container .btn-main-search {
          background-color: #0a002f;
          height: 60px;
          width: 60px;
          position: relative;
          margin-left: -10px;
          top: -1px;
          border: none;
          border-top-right-radius: 30px;
          border-bottom-right-radius: 30px;
          padding: 0;
          color: white;
          outline: 0;
          font-weight: bold;
          font-size: 18px;
          cursor: pointer; }
      body .hero .search-tags-container .tags-container {
        padding: 20px; }
        body .hero .search-tags-container .tags-container .smart-check {
          visibility: hidden;
          position: absolute; }
        body .hero .search-tags-container .tags-container .smart-lbl {
          display: inline-block;
          height: 40px;
          width: 20%;
          line-height: 40px;
          padding: 0 40px;
          text-align: center;
          background-color: white;
          color: #0a002f;
          transition: 0.1s ease all;
          position: relative;
          cursor: pointer;
          margin: 4px;
          overflow: hidden; }
          body .hero .search-tags-container .tags-container .smart-lbl i {
            color: #b6ff00;
            opacity: 0;
            position: absolute;
            right: 10px;
            top: -50px;
            font-size: 20px;
            transition: 0.5s ease all;
            transition-delay: 0.1s; }
          body .hero .search-tags-container .tags-container .smart-lbl.checked {
            color: white;
            background-color: #0a002f; }
            body .hero .search-tags-container .tags-container .smart-lbl.checked i {
              opacity: 1;
              right: 10px;
              top: 10px;
              transform: rotate(720deg); }
  body main {
    width: 1180px;
    min-height: calc(100vh - 343px);
    margin: auto;
    padding: 40px;
    background-color: white; }
    body main.single-event .event-page .img-holder img {
      width: 100%;
      height: auto; }
    body main h2.header {
      text-transform: uppercase;
      color: #0a002f;
      font-weight: normal;
      margin: 0;
      padding: 20px 0; }
    body main h2.place-date {
      margin: 0; }
    body main .events-holder, body main .search-holder {
      padding-bottom: 20px; }
      body main .events-holder .event, body main .search-holder .event {
        display: block;
        width: 340px;
        margin: 20px 0;
        text-decoration: none;
        float: left;
        transition: 0.1s ease-in-out all;
        position: relative;
        box-shadow: 0px 0px 0px transparent;
        top: 0; }
        body main .events-holder .event:hover, body main .search-holder .event:hover {
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); }
          body main .events-holder .event:hover .event-title h3, body main .search-holder .event:hover .event-title h3 {
            color: #b6ff00; }
          body main .events-holder .event:hover .event-info, body main .search-holder .event:hover .event-info {
            color: #b6ff00; }
        body main .events-holder .event:nth-child(3n+2), body main .search-holder .event:nth-child(3n+2) {
          margin-left: 40px;
          margin-right: 40px; }
        body main .events-holder .event .event-title, body main .search-holder .event .event-title {
          display: block;
          background-color: #0a002f;
          padding: 15px;
          transition: 0.3s ease all; }
          body main .events-holder .event .event-title h3, body main .search-holder .event .event-title h3 {
            font-weight: normal;
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: white; }
        body main .events-holder .event .event-image-location, body main .search-holder .event .event-image-location {
          border-left: 1px solid #0a002f;
          border-right: 1px solid #0a002f;
          position: relative;
          background-color: #0a002f; }
          body main .events-holder .event .event-image-location img, body main .search-holder .event .event-image-location img {
            display: block;
            width: 338px;
            height: 150px; }
          body main .events-holder .event .event-image-location .event-location, body main .search-holder .event .event-image-location .event-location {
            position: absolute;
            top: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 5px;
            color: white; }
        body main .events-holder .event .event-info, body main .search-holder .event .event-info {
          padding: 15px;
          background-color: #0a002f;
          color: white;
          transition: 0.3s ease all; }
          body main .events-holder .event .event-info .event-date, body main .search-holder .event .event-info .event-date {
            float: right; }
    body main .add-to-cart-holder {
      padding-top: 20px;
      text-align: right; }
      body main .add-to-cart-holder .qty {
        width: 80px;
        padding: 10px;
        padding-right: 0;
        text-align: center;
        outline: 0; }
      body main .add-to-cart-holder .btn-add-to-basket {
        padding: 10px 30px;
        border: 0;
        background-color: #0a002f;
        color: white;
        cursor: pointer;
        margin-left: 5px;
        font-size: 16px;
        outline: 0; }
        body main .add-to-cart-holder .btn-add-to-basket:hover {
          color: #b6ff00; }
    body main .basket-holder {
      display: none; }
      body main .basket-holder .tbl-basket {
        width: 100%;
        border-collapse: collapse; }
        body main .basket-holder .tbl-basket thead tr td {
          background-color: #0a002f;
          color: white; }
        body main .basket-holder .tbl-basket tr td {
          border-bottom: 1px solid #eeeeee;
          padding: 10px 20px;
          white-space: nowrap; }
          body main .basket-holder .tbl-basket tr td.maximize {
            width: 100%; }
            body main .basket-holder .tbl-basket tr td.maximize a {
              text-decoration: none;
              color: #0a002f; }
              body main .basket-holder .tbl-basket tr td.maximize a:hover {
                text-decoration: underline; }
          body main .basket-holder .tbl-basket tr td.price {
            text-align: right; }
          body main .basket-holder .tbl-basket tr td.qty {
            text-align: center; }
          body main .basket-holder .tbl-basket tr td:last-child {
            text-align: right; }
        body main .basket-holder .tbl-basket tr.total td {
          background-color: #0a002f;
          color: white;
          text-align: right; }
    body main .checkout-holder .tbl-checkout {
      width: 50%;
      float: left; }
      body main .checkout-holder .tbl-checkout tr td {
        padding: 10px; }
        body main .checkout-holder .tbl-checkout tr td:first-child {
          padding-left: 0; }
        body main .checkout-holder .tbl-checkout tr td:last-child {
          padding-right: 20px; }
        body main .checkout-holder .tbl-checkout tr td input {
          padding: 10px;
          width: 100%;
          /*

                            &:valid {
                                background-color: green;
                            }

                            &:invalid {
                                background-color: red;
                            }

                            */ }
          body main .checkout-holder .tbl-checkout tr td input.postcode {
            width: 80px;
            padding-right: 0; }
    body main .checkout-holder .tbl-payment {
      width: 50%;
      float: left; }
      body main .checkout-holder .tbl-payment tr td {
        padding: 10px; }
        body main .checkout-holder .tbl-payment tr td:last-child {
          padding-right: 0; }
        body main .checkout-holder .tbl-payment tr td:first-child {
          padding-left: 20px; }
        body main .checkout-holder .tbl-payment tr td input {
          padding: 10px;
          width: 100%; }
          body main .checkout-holder .tbl-payment tr td input.securitycode {
            width: 60px;
            padding-right: 0;
            text-align: center; }
          body main .checkout-holder .tbl-payment tr td input#accept:checked + label::after {
            display: inline-block;
            font-family: fontAwesome;
            content: "\f058";
            position: absolute;
            margin-left: 5px;
            margin-top: 1px;
            color: green;
            font-size: 2em;
            line-height: 0.5em;
            animation: zoomInOut 0.4s forwards ease-in-out; }
        body main .checkout-holder .tbl-payment tr td select {
          padding: 10px;
          width: 100%; }
    body main .button-holder {
      padding-top: 20px;
      text-align: right; }
      body main .button-holder input {
        padding: 10px 30px;
        border: 0;
        background-color: #0a002f;
        color: white;
        cursor: pointer;
        font-size: 16px;
        outline: 0; }
        body main .button-holder input:hover {
          color: #b6ff00; }
  body footer {
    background-color: #0a002f; }
    body footer .footer-sections {
      color: white;
      width: 1180px;
      margin: auto;
      padding: 0 40px;
      overflow: auto; }
      body footer .footer-sections .footer-section {
        display: block;
        width: 340px;
        margin: 20px 0;
        text-decoration: none;
        float: left;
        padding-bottom: 20px; }
        body footer .footer-sections .footer-section h3 {
          margin: 0;
          padding: 20px 0;
          font-weight: normal;
          color: #b6ff00;
          text-transform: uppercase; }
        body footer .footer-sections .footer-section ul {
          margin: 0;
          padding: 0;
          list-style-type: none; }
          body footer .footer-sections .footer-section ul li {
            padding: 0;
            margin: 0; }
            body footer .footer-sections .footer-section ul li:not(last-child) {
              margin-bottom: 10px; }
            body footer .footer-sections .footer-section ul li i {
              color: #b6ff00;
              margin-right: 5px;
              width: 25px; }
            body footer .footer-sections .footer-section ul li a {
              color: white;
              text-decoration: none; }
              body footer .footer-sections .footer-section ul li a:hover {
                text-decoration: underline; }
        body footer .footer-sections .footer-section:nth-child(3n+2) {
          margin-left: 40px;
          margin-right: 40px; }
  body .subfooter .subfooter-content {
    background-color: white;
    color: #808080;
    width: 1180px;
    margin: auto;
    padding: 30px 40px;
    text-align: center;
    font-size: 12px; }

